/* Elementos globales */

/* Elementos header */

.wikipedia-logo-word {
    font-family: Linux Libertine,Georgia,Times,serif;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.wikipedia-logo-word img {
    width: 9.5%;
}
.wikipedia-logo-word p {
    width: 10%;
    margin: 8px auto;
    font-size: 15px;
}

.wikipedia-logo-round img {
    margin-top: 45px;

} 
.languages {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    max-width: 100%;
    width: 546px;
    height: 325px;
    position: relative;
}
.lang {
    position: absolute;
    width: 15.6rem;
}
.lang a {
    display: block;
    padding: 0;
    text-decoration: none;
    white-space: normal;
}
.lang a strong {
    font-size: 1rem;
    font-weight: 700;
    color: #36c;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}
.lang a p {
    color: #54595d;
    font-size: 1rem;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}
#spanish {
    top: 0;
    right: 60%;
}
#english {
    top: 0;
    left: 60%;
}
#rusian {
    top: 20%;
    right: 70%;
}
#japanese {
    top: 20%;
    left: 70%;
}
#german {
    top: 40%;
    right: 72%;
}
#french {
    top: 40%;
    left: 72%;
}
#italian {
    top: 60%;
    right: 70%;
}
#chinese {
    top: 60%;
    left: 70%;
}
#farsi {
    top: 80%;
    right: 60%;
}
#polish {
    top: 80%;
    left: 60%;
}
.lang:hover {
    background-color: rgb(241, 241, 241);
}
.lang a strong:hover {
    text-decoration: underline;
}


/* Elementos main */

/* Elementos footer */
