/* Elementos globales */

/* Elementos header */

.wikipedia-logo-word {
    font-family: Linux Libertine,Georgia,Times,serif;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.wikipedia-logo-word img {
    width: 9.5%;
}
.wikipedia-logo-word p {
    width: 10%;
    margin: 8px auto;
    font-size: 15px;
}
.wikipedia-logo-round {
    text-align: center;
    margin: 0 auto;
}
.wikipedia-logo-round img {
    margin-top: 60px;
    width: 205px;
    height: 205px;
    /* margin-left: 50px; */
}
.right-countries .language a {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}
.language h1 {
    font-size: 17px;
    color: #36c;
    margin-bottom: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    width: fit-content;
    margin-left: 20px;
    
}
.language p {
    font-size: 13px;
    color: #54595d;
    margin-top: 7px;
    font-family: arial;
    width: fit-content;
    
}
.countries {
    display: grid;
    grid-template-columns: auto 250px auto;
}
.left-countries div {
    margin: 0 0 0 250px;
}
#japanese {
    margin-left: 35px;
}
#french {
    margin-left: 70px;
}
#chinese {
    margin-left: 35px;
}
#chinese h1 {
    margin-left: 48px;
}
#polish h1 {
    margin-left: 30px;
}
#rusian {
    margin-right: 35px;
}
.left-countries .language p {
    margin-block-start: 0;
    margin-block-end: 0;
}
/* Elementos main */

/* Elementos footer */
